.contenedor{
    width: 80%;
    height: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    width: 800px;
    height: 300px;
}
.imagen{
    width: 500px;
    height: 600px;
}
.descripcion{
    width: 60%;
    height: 500px;
}